{% extends  "layout/Author/layoutdashboard.html.twig" %}

{% block textarea %}

    <br/>
    <div class="col-12 shadow-lg p-4 mb-5  ">
        <h1>Votre messagerie</h1>
    </div>

    <div class="col-12 shadow-lg p-5 mb-5  ">
        <nav>
            <div class="nav nav-tabs" id="nav-tab" role="tablist">
                <a class="nav-item nav-link active" id="nav-news-tab" data-toggle="tab" href="#nav-news" role="tab"
                   aria-controls="nav-news" aria-selected="true"><h3>Nouveaux messages</h3></a>
                <a class="nav-item nav-link" id="nav-archives-tab" data-toggle="tab" href="#nav-archives" role="tab"
                   aria-controls="nav-archives" aria-selected="false"><h3>Archives</h3></a>
            </div>
        </nav>
        <div class="tab-content" id="nav-tabContent">
            <div class="tab-pane fade show active" id="nav-news" role="tabpanel" aria-labelledby="nav-news-tab">
                <div id="accordion">
                    {% for mailoffice in mailoffice %}
                        <div>
                            <div class="card-header" id="{{ mailoffice.id }}">
                                <div class="mb-0 row justify-content-between">
                                    <div class="col-2  paddingtext">
                                        <a class="paddingRL"> {{ mailoffice.name }}</a>
                                    </div>
                                    <div class="col-9 paddingtext">
                                        <a class="paddingRL"> {{ mailoffice.title }}</a>
                                    </div>
                                    <div class="col-1 paddingtext">
                                        <button class="btn btn-card btn-success font-weight-bold collapsed"
                                                data-toggle="collapse"
                                                data-target="#collapse{{ mailoffice.id }}" aria-expanded="true"
                                                aria-controls="collapse{{ mailoffice.id }}">
                                            Lire
                                        </button>
                                    </div>
                                </div>
                            </div>
                            <div id="collapse{{ mailoffice.id }}" class="collapse" aria-labelledby="{{ mailoffice.id }}"
                                 data-parent="#accordion">
                                <div class="container-fluide">
                                    <div class="row">
                                        <div class="col-10 paddingtext">
                                            <div class="card-body">
                                                <p class="text-right font-weight-bold">
                                                    <a class="paddingRL"> {{ mailoffice.date|date_modify ( "+1 day" )| date ( "m/d/Y"  ) }}</a>
                                                </p>
                                                <p class="paddingtext paper">{{ mailoffice.text|nl2br }}</p>
                                                <p class="text-right font-weight-bold">
                                                    <a class="paddingRL">Courriel : {{ mailoffice.email }}</a>
                                                </p>
                                            </div>
                                        </div>
                                        <div class="col-2 ">
                                            <form method="post" action="index.php?p=mail_Office">
                                                <div class="paddingtext row  ">
                                                    <div class="col-12 paddingRL">
                                                        <a href="mailto:{{ mailoffice.email }}?subject=Merci%20pour%20tout%20ce%20que%20vous%20faites%20pour%20moi-Jean%20Forteroche&body=%0D%0AChères lectrices, chers lecteurs,%0D%0A%0D%0A
C%27est%20 avec%20 beaucoup%20 de%20 plaisir%20 que%20 j%27ai%20 parcouru%20 votre%20 courriel.%20 Je%20 suis%20 très%20 sensible%20 à%20 la%20 bienveillance%20 que%20 vous%20 me%20 portez. %0D%0A%20 Votre%20 attention%20 est%20 un%20 encouragement%20 dans%20 mon%20 travail.%0D%0A %0D%0A %0D%0A %0D%0A %0D%0A %0D%0A Merci%20 pour%20tout%0D%0A %0D%0A Jean%20Forteroche"
                                                           class="btn btn-card btn-bg btn-info  font-weight-bold  "
                                                           role="button" aria-pressed="true">
                                                            Répondre&nbsp;&nbsp;&nbsp;<i data-feather="at-sign"></i>
                                                        </a>
                                                    </div>
                                                    <div class="col-12 paddingRL">
                                                        <button type="submit"
                                                                class="btn btn-card btn-bg btn-primary font-weight-bold "
                                                                name="mailid"
                                                                value="{{ mailoffice.id }}">
                                                            <a class=" paddingRL">Classer</a>
                                                            <i data-feather="archive"></i>
                                                        </button>

                                                    </div>
                                                    <div class="col-12 paddingRL">
                                                        <button type="submit"
                                                                class="btn btn-card btn-danger font-weight-bold  btn-bg"
                                                                name="maildel"
                                                                value="{{ mailoffice.id }}">
                                                            <a class=" paddingRL"> Supprimer</a>
                                                            <i data-feather="delete"></i>
                                                        </button>
                                                    </div>
                                                </div>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>
            <div class="tab-pane fade active" id="nav-archives" role="tabpanel" aria-labelledby="nav-archives-tab">
                <div id="accordion">
                    {% for mailclass in mailclass %}
                        <div>
                            <div class="card-header" id="{{ mailclass.id }}">
                                <div class="mb-0 row justify-content-between">
                                    <div class="col-2  paddingtext">
                                        <a class="paddingRL"> {{ mailclass.name }}</a>
                                    </div>
                                    <div class="col-9 paddingtext">
                                        <a class="paddingRL"> {{ mailclass.title }}</a>
                                    </div>
                                    <div class="col-1 paddingtext">
                                        <button class="btn btn-card btn-success font-weight-bold collapsed"
                                                data-toggle="collapse"
                                                data-target="#collapse{{ mailclass.id }}" aria-expanded="true"
                                                aria-controls="collapse{{ mailclass.id }}">
                                            Lire
                                        </button>
                                    </div>
                                </div>
                            </div>
                            <div id="collapse{{ mailclass.id }}" class="collapse" aria-labelledby="{{ mailclass.id }}"
                                 data-parent="#accordion">
                                <div class="container-fluide">
                                    <div class="row">
                                        <p class="paddingtext">{{ mailclass.title }}</p>
                                        <p class="paddingtext">{{ mailclass.text|nl2br }}</p>
                                    </div>
                                    <div class="row">
                                        <div class="col-2  paddingtext">
                                            <a class="paddingRL"> {{ mailclass.date| date_modify ( "+1 day" )| date ( "m/d/Y" ) }}</a>
                                        </div>
                                        <div class="col-7 paddingtext">
                                            <a class="paddingRL"> {{ mailclass.name }}</a>
                                        </div>
                                        <div class="col-3 paddingtext">
                                            <form method="post" action="index.php?p=mail_Office">
                                                <button type="submit"
                                                        class="btn btn-card btn-danger font-weight-bold  btn-bg"
                                                        name="maildel"
                                                        value="{{ mailclass.id }}">
                                                    <a class=" paddingRL"> Supprimer</a>
                                                    <i data-feather="delete"></i>
                                                </button>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}
