{% include  "layout/GenericLayout/header.html.twig" %}

<div id="dashboard" class="container-fluid">
    <div class="row">
        <nav class="col-md-2 d-none d-md-block bg-light sidebar">

            <div class="sidebar-sticky">
                <wbr/>
                <h3>Publications</h3>
                <br/>
                <ul class="nav flex-column">
                    <li class="nav-item">
                        <a class="nav-link active" href="http://localhost/literaryBlog/public/index.php?p=admin">
                            <span data-feather="home"></span>
                            Bureau <span class="sr-only">(current)</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="http://localhost/literaryBlog/public/index.php?p=writeText_admin">
                            <span data-feather="feather"></span>
                            Texte
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">
                            <span data-feather="users"></span>
                            Commentaires
                        </a>
                    </li>
                </ul>

                <wbr/>
                <h3>Page d'accueil</h3>
                <br/>
                <ul class="nav flex-column mb-2">

                    {% for texthome in texthome %}
                            <li class="nav-item">
                                <p><a href="http://localhost/literaryBlog/public/index.php?p=texthome&id={{texthome.id }}"><span data-feather="file-text"></span> {{texthome.title }}</a></p>
                            </li>
                    {% endfor %}

                    {% for headings in headings %}
                            <br/>
                            <li class="nav-item">
                                <p><a href="http://localhost/literaryBlog/public/index.php?p=heading_admin&id={{headings.id }}"><span data-feather="file-text"></span> {{headings.title }}</a></p>
                            </li>
                     {% endfor %}
                </ul>

                <wbr/>
                <h3>Votre profil</h3>
                <br/>
                    <ul class="nav flex-column mb-2">
                    {% for showings in showings %}
                        <br/>
                        <li class="nav-item">
                            <p><a href="http://localhost/literaryBlog/public/index.php?p=showing_admin&id={{showings.id }}"><span data-feather="star"></span> {{showings.title }}</a></p>
                        </li>
                    {% endfor %}
                </ul>
            </div>
        </nav>

        <main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-4">

            <div>
                {% block textarea %}{% endblock %}
            </div>


        </main>
    </div>
</div>

{% include  "layout/GenericLayout/footer.html.twig" %}