{% extends  "Layout/layoutdashboard.html.twig" %}

{% block textarea %}
    <br/>
    <div class="col-12 shadow-lg p-4 mb-5  ">
        <h1>Commentaires</h1>
    </div>
    <input type="hidden" id="recaptcha" name="recaptcha">
    <div class="col-12 shadow-lg p-2 mb-5 p-lg-5">
        <nav>
            <div class="nav nav-tabs" id="nav-tab" role="tablist">
                <a class="nav-item nav-link active" id="nav-comments-tab" data-toggle="tab" href="#nav-comments"
                   role="tab"
                   aria-controls="nav-comments" aria-selected="true"><h3>Les commentaires</h3></a>
                <a class="nav-item nav-link" id="nav-report-tab" data-toggle="tab" href="#nav-report" role="tab"
                   aria-controls="nav-report" aria-selected="false"><h3>Commentaires signalés</h3></a>
            </div>
        </nav>
        <div class="tab-content" id="nav-tabContent">
            <div class="tab-pane fade show active" id="nav-comments" role="tabpanel" aria-labelledby="nav-comments-tab">
                <div id="accordion">

                    {% for commentoffice in commentoffice %}
                        <div>
                            <div class="card-header" id="{{ commentoffice.id }}">
                                <div class="mb-0 row justify-content-between">
                                    <div class="col col-sm-4 col-md-4 col-lg-2 paddingtext">
                                        <a class="paddingRL"> {{ commentoffice.pseudo|raw }}</a>
                                    </div>
                                    <div class="col-3 visibleEleMD paddingtext">
                                        <a class="paddingRL"> {{ commentoffice.date|date_modify ( "+1 day" )| date ( "m/d/Y"  ) }}</a>
                                    </div>
                                    <div class=" col col-sm-4 col-md-4 col-lg-2 paddingtext">
                                        <a href="index.php?p=chapter_show&id={{ commentoffice.id_chapter }}"
                                           target="_blank">
                                            <button class="btn greenLink ">Chapitre</button>
                                        </a>
                                    </div>
                                    <div class="col col-sm-4  col-md-4 col-lg-2 paddingtext">
                                        <button class="btn btn-card btn-warning font-weight-bold collapsed"
                                                data-toggle="collapse"
                                                data-target="#collapse{{ commentoffice.id }}" aria-expanded="true"
                                                aria-controls="collapse{{ commentoffice.id }}">
                                            Lire
                                        </button>
                                    </div>
                                </div>
                            </div>
                            <div id="collapse{{ commentoffice.id }}" class="collapse"
                                 aria-labelledby="{{ commentoffice.id }}" data-parent="#accordion">
                                <div class="container-fluide">
                                    <div class="row paddingtext">
                                        <div class="col-12 col-sm-12 col-md-12 col-lg-9 col-xl-9 paddingtext">
                                            <p>{{ commentoffice.comment|striptags|nl2br }}</p>
                                        </div>
                                        <div class="col-12 col-sm-12 col-md-12 col-lg-3 col-xl-3 ">

                                            <form method="post" action="index.php?p=comment_Office">

                                                <button type="submit"
                                                        class="btn btn-card btn-danger font-weight-bold  btn-bg"
                                                        name="delete"
                                                        value="{{ commentoffice.id }}">
                                                    <a class=" paddingRL visibleEle "> Supprimer</a>
                                                    <i data-feather="delete"></i>
                                                </button>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>
            <div class="tab-pane fade active" id="nav-report" role="tabpanel" aria-labelledby="nav-report-tab">
                <div id="accordionR">
                    {% for commentreport in commentreport %}
                        <div>
                            <div class="card-header" id="{{ commentreport.id }}">
                                <div class="mb-0 row justify-content-between">
                                    <div class="col col-sm-4 col-md-4 col-lg-2 paddingtext">
                                        <a class="paddingRL"> {{ commentreport.pseudo|raw }}</a>
                                    </div>
                                    <div class="col-3 visibleEleMD paddingtext">
                                        <a class="paddingRL"> {{ commentreport.date|date_modify ( "+1 day" )| date ( "m/d/Y"  ) }}</a>
                                    </div>
                                    <div class=" col col-sm-4 col-md-4 col-lg-2 paddingtext">
                                        <a href="index.php?p=chapter_show&id={{ commentreport.id_chapter }}"
                                           target="_blank">
                                            <button type="button" class="btn btn-light greenLink ">Chapitre</button>
                                        </a>
                                    </div>
                                    <div class="col col-sm-4  col-md-4 col-lg-2 paddingtext">
                                        <input type="hidden" id="recaptcha" name="recaptcha">
                                        <button class="btn btn-card btn-danger font-weight-bold collapsed"
                                                data-toggle="collapse"
                                                data-target="#collapse{{ commentreport.id }}" aria-expanded="true"
                                                aria-controls="collapse{{ commentreport.id }}">
                                            Lire
                                        </button>
                                    </div>
                                </div>
                            </div>
                            <div id="collapse{{ commentreport.id }}" class="collapse"
                                 aria-labelledby="{{ commentreport.id }}"
                                 data-parent="#accordionR">
                                <div class="container-fluide">
                                    <form method="post" action="index.php?p=comment_Office">

                                        <div class="row paddingtext">
                                            <div class="col-9">
                                                <p>{{ commentreport.comment|striptags|nl2br }}</p>
                                            </div>
                                            <div class="col-12 col-sm-12 col-md-12 col-lg-3 col-xl-3 ">

                                                <div class="col-12 paddingRL">

                                                    <button type="submit"
                                                            class="btn btn-card btn-bg btn-success font-weight-bold "
                                                            name="classify"
                                                            value="{{ commentreport.id }}">
                                                        <a class=" paddingRL visibleEle">Garder</a>
                                                        <i data-feather="check"></i>
                                                    </button>
                                                </div>
                                                <div class="col-12 paddingRL">
                                                    <button type="submit"
                                                            class="btn btn-card btn-danger font-weight-bold  btn-bg"
                                                            name="delete"
                                                            value="{{ commentreport.id }}">
                                                        <a class=" paddingRL visibleEle"> Supprimer</a>
                                                        <i data-feather="delete"></i>
                                                    </button>
                                                </div>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
    </div>
{% endblock %}
