

{% extends 'layout/layout.html.twig' %}



{% block writecomment %}

<div id="accordion">
    {% for book in chapitreall %}

            <div class="card">
                <div class="card-header" id="{{ book.id }}">
                    <h5 class="mb-0">
                        <button class="btn btn-link greenLink collapsed" data-toggle="collapse" data-target="#collapse{{ book.id }}" aria-expanded="true" aria-controls="collapse{{ book.id }}">
                            <h5>{{ book.title }}</h5>
                        </button>
                    </h5>
                </div>

                <div id="collapse{{ book.id }}" class="collapse paper" aria-labelledby="{{ book.id }}" data-parent="#accordion">
                    <div class="card-body">
                       {{ book.text|nl2br }} {{ book.id }}
                    </div>
                </div>
            </div>
    {% endfor %}
    </div>
{% endblock %}

