

{% extends 'layout/layout.html.twig' %}



{% block writecomment %}



    <div class="shadow-lg p-3 mb-5 bg-gradient-warning rounded headingheight">
         <a><img class="img-fluid" alt="Responsive image" src="../public//img/billetsimplealaskaRS.png"></a>
    </div>

<div id="accordion">
    {% for book in chapitreall %}

            <div class="card">
                <div class="card-header" id="{{ book.id }}">
                    <h5 class="mb-0">
                        <button class="btn btn-link greenLink collapsed" data-toggle="collapse" data-target="#collapse{{ book.id }}" aria-expanded="true" aria-controls="collapse{{ book.id }}">
                            <h5>{{ book.title }}</h5>
                        </button>
                    </h5>
                </div>

                <div id="collapse{{ book.id }}" class="collapse paper" aria-labelledby="{{ book.id }}" data-parent="#accordion">
                    <div class="card-body">
                       {{ book.text|striptags |nl2br| raw }}
                    </div>

                <div class="padding">
                    <a href="index.php?p=post_show&id={{ book.id }}">
                        <button type="button" class="btn btn-light btn-lg btn-block greenLink "> Je vous en prie, dites moi ce que vous en pensez.</button>
                    </a>
                </div>
            </div>
        </div>
    {% endfor %}
    </div>
{% endblock %}

