{% extends 'layout/layouthome.html.twig' %}


{% block introText %}
    {% for texthome in texthome %}
        <div id="introText">
            <h1 class="paddingRL">{{ texthome.title|raw  }}</h1>
            <p class="paddingtext">{{ texthome.text |raw }}</p>
        </div>
    {% endfor %}
{% endblock %}

{% block heading %}
    {% for headings in headings %}
        <div class="col-md-4 ">
            <div class="shadow-lg p-3 mb-5 bg-gradient-warning rounded headingheight">
                <h2>{{ headings.title|raw }}</h2>
                <p class="paddingtext">{{ headings.text |striptags|raw |truncate(150) }}<p/>
                <p>
                <h3 class="paddingRL">
                    <a class="greenLink"
                       href="index.php?p=heading_show&id={{ headings.id }}">
                        En savoir plus...
                    </a>
                </h3>
                </p>
            </div>
        </div>
    {% endfor %}
{% endblock %}

{% block content %}
    <h1 class="paddingRL">Les derniers chapitres</h1>
    {% for book in chapitres %}
        <div class="paper padding paperPadding">
            <h2>{{ book.title }}</h2>
            <p class="text-right"> {{ book.date| date_modify ( "+1 day" )| date ( "m/d/Y" ) }}</p>
            <p class="paddingtext">{{ book.text|striptags|raw | truncate(300) }}</p>
            <h3 class="paddingRL text-right">
                <a class="greenLink"
                   href="index.php?p=chapter_show&id={{ book.id }}">
                    La suite...
                </a>
            </h3>
        </div>
    {% endfor %}
{% endblock %}

{% block comment %}
    <div class="row">
        <div class="col col-12">
    <h1 class="text-center">Toujours en vente</h1>
    <div class="shadow-lg p-3 mb-5 bg-gradient-info rounded">
        <div class="kiosque">
            <p>
                <a id="livrePortrait"><img src="img/EditionLibreAuteur.jpg"/></a>
                <a id="livrePaysage" ><img src="img/EditionLibreAuteurB.jpg"/></a>
            </p>
            <br/>
            <a class="greenLink" href="#">Commander le livre</a>
        </div>
    </div>
        </div>
        <div class="col col-xl-12 col-lg-6 col-md-6 col-sm-12 col-12">
    <h2 class="paddingRL">Info sur le climat</h2>
    <div class="shadow-lg p-3 mb-5 bg-gradient-info rounded ">
        <div class="paddingtext giec text-center">
            <p><a href="https://www.sauvonsleclimat.org/fr/"><img src="img/LogoGiec.png"/></a></p>
        </div>
    </div>
        </div>
        <div class="col col-xl-12 col-lg-6 col-md-6 col-sm-12 col-12">
    <h2 class="paddingRL">Lire, voir, réagir, ...</h2>
    <div class="shadow-lg p-3 mb-5 bg-gradient-info rounded network">
        <div class="paddingtext text-center">
            <p><a><img src="img/faceBook.png"/></a>
                <a><img src="img/twitter.png"/></a>
                <a><img src="img/youtube.png"/></a>
                <a><img src="img/In.png"/></a>
            </p>
        </div>
    </div>
        </div>
    </div>


{% endblock %}