

{% extends 'layout/layout.html.twig' %}

{% block content %}

   {% for book in chapitre %}

       <h1>Billet simple pour l'Alaska</h1>
           <br/>
       <div class="paper padding">

           <h2>{{ book.title }}</h2>
           <p class="text-right">{{ book.date}}</p>
           <p class="paddingtext" >{{ book.text| nl2br }}</p>


       </div>
   {% endfor %}

{% endblock %}

{% block comment %}
    <br/>
         <hr/>
    <br/>

    <h2>Dites moi tout sur ce chapitre !</h2>
    <p><a href="#comment" class="greenLink">En 500 caractéres maximum</a></p>

    {% for comment in comments %}

        <div class="shadow-lg p-3 mb-5 bg-gradient-info rounded text-white" >
            <h5 class="font-weight-bold">{{ comment.pseudo }}</h5>
            <a>{{ comment.comment }} </a> <br/>
            <p class="text-right text-danger">Signaler<p/>
        </div>

    {% endfor %}

{% endblock %}

{% block writecomment %}

     <div class="accordion" id="accordionExample">

        <div class="card">
            <div class="card-header" id="comment">
                <h5 class="mb-0 ">
                    <button class="btn btn-link greenLink  collapsed" type="button" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                        Je vous en prie, dites moi ce que vous en pensez.
                    </button>
                </h5>
            </div>
            <div id="collapseTwo" class="collapse" aria-labelledby="comment" data-parent="#accordionExample">
                <div class="card-body ">

                    <form method="post" action="" id="comment">
                        <label for="pseudo">Pseudo</label>
                        <input type="text" class="form-control"name="pseudo" id="pseudo" placeholder="Pseudo">

                        <label for="comment">Votre commentaire </label>
                        <textarea class="form-control" type="text" name="comment" id="comment" rows="10"></textarea>
                        <br/>
                        <input class="btn btn-info" type="submit" value="Valider" />
                        <input class="btn btn-secondary" type="reset" value="Effacer" />
                    </form>

                </div>
            </div>
        </div>

    </div>

{% endblock %}