{% extends  "layout/Author/layoutdashboard.html.twig" %}



{% block textarea %}

    <br/>
    <div class="col-12 shadow-lg p-4 mb-5  ">
        <h1>Bureau</h1>
    </div>

    <div class="row">
        <div class="col-lg-6 col-md-12  ">
            <div class="row padding">
                <div class="col-12 shadow-lg p-2 mb-3 ">
                    <h3>Vos courriers</h3>
                </div>
                <div class="table-responsive">
                    <table class="table table-striped table-sm">
                        <thead>
                        <tr class="text-white bg-success">
                            <th class="width20">Nom</th>
                            <th>Courriel</th>
                            <th class="width10">Lire</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for mail in mail %}
                            <tr>
                                <td>{{ mail.name|raw }}</td>
                                <td>{{ mail.title|raw|truncate(50) }}</td>
                                <td>
                                    <a href="index.php?p=mail_Office">
                                        <button type="submit"
                                                class="btn btn-card btn-bg btn-info font-weight-bold "
                                                name="MailLire"
                                                value="{{ commentreport.id }}" data-toggle="tooltip"
                                                data-placement="top" title="Voir">
                                            <i data-feather="eye"></i>
                                        </button>
                                    </a>
                                </td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>

                </div>
            </div>
        </div>
        <div class="col-lg-6 col-md-12">
            <div class="row padding">
                <div class="col-12 shadow-lg p-2 mb-3 ">
                    <h3>Vos Publications en cours de rédaction</h3>
                </div>

                <div class="table-responsive">
                    <table class="table table-striped table-sm">
                        <thead>
                        <tr class="text-white bg-info">
                            <th>Titre</th>
                            <th>Date</th>
                            <th class="width10">Voir</th>
                            <th class="width10">Modif</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for book in chapitres %}

                            <tr>
                                <td>{{ book.title|raw }}</td>
                                <td>{{ book.date|date_modify ( "+1 day" )| date ( "m/d/Y"  ) }}</td>
                                <td>
                                    <a href="index.php?p=publication_Office">
                                        <button type="submit"
                                                class="btn btn-card btn-bg btn-info font-weight-bold "
                                                name="postLire"
                                                value="{{ commentreport.id }}" data-toggle="tooltip"
                                                data-placement="top" title="Voir">
                                            <i data-feather="eye"></i>
                                        </button>
                                    </a>
                                </td>
                                <td>
                                    <a href="index.php?p=posts_admin&id={{ book.id }}">
                                        <button type="submit"
                                                class="btn btn-card btn-bg btn-primary font-weight-bold "
                                                name="postModify"
                                                value="{{ commentreport.id }}" data-toggle="tooltip"
                                                data-placement="top" title="Modifier">
                                            <i data-feather="edit-2"></i>
                                        </button>
                                    </a>
                                </td>
                            </tr>

                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <br/>
    <div class="row">
        <div class="col-lg-6 col-md-12 ">
            <div class="row padding">
                <div class="col-12 shadow-lg p-2 mb-3 ">
                    <h3>Les derniers commentaires</h3>
                </div>

                <div class="table-responsive">
                    <table class="table table-striped table-sm">
                        <thead>
                        <tr class="text-white bg-warning ">
                            <th class="width20">Pseudo</th>
                            <th>Commentaires</th>
                            <th class="width10">Lire</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for comment in comment %}

                            <tr>
                                <td>{{ comment.pseudo|raw }}</td>
                                <td>{{ comment.comment| raw|truncate(100) }}</td>
                                <td>
                                    <a href="index.php?p=comment_Office" >
                                        <button type="submit"
                                                class="btn btn-card btn-bg btn-info font-weight-bold "
                                                name="commentLire"
                                                value="{{ commentreport.id }}" data-toggle="tooltip"
                                                data-placement="top" title="voir">
                                            <i data-feather="eye"></i>
                                        </button>
                                    </a>
                                </td>
                            </tr>

                        {% endfor %}

                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <div class="col-lg-6 col-md-12">
            <div class="row padding">
                <div class="col-12 shadow-lg p-2 mb-3 ">
                    <h3>Commentaires signalés</h3>
                </div>

                <div class="table-responsive">
                    <table class="table table-striped table-sm">
                        <thead>
                        <tr class="text-white bg-danger">
                            <th class="width20">Pseudo</th>
                            <th>Commentaires</th>
                            <th class="width10">Voir</th>
                            <th class="width10">Garder</th>
                            <th class="width10">Supp</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for commentreport in commentreport %}

                            <tr>
                                <td>{{ commentreport.pseudo|raw}}</td>
                                <td>{{ commentreport.comment| raw|truncate(100) }}</td>
                                <td>
                                    <a href="index.php?p=comment_Office">
                                        <button type="submit"
                                                class="btn btn-card btn-bg btn-info font-weight-bold "
                                                name="commentLire"
                                                value="{{ commentreport.id }}" data-toggle="tooltip"
                                                data-placement="top" title="Voir">
                                            <i data-feather="eye"></i>
                                        </button>
                                    </a>
                                </td>
                                <form method="post">
                                    <td>
                                        <button type="submit"
                                                class="btn btn-card btn-bg btn-success font-weight-bold "
                                                name="classify"
                                                value="{{ commentreport.id }}" data-toggle="tooltip"
                                                data-placement="top" title="Garder">
                                            <i data-feather="check"></i>
                                        </button>
                                    </td>
                                    <td>
                                        <button type="submit"
                                                class="btn btn-card btn-danger font-weight-bold  btn-bg"
                                                name="delete"
                                                value="{{ commentreport.id }}" data-toggle="tooltip"
                                                data-placement="top" title="Supprimer">
                                            <i data-feather="delete"></i>
                                        </button>
                                    </td>
                                </form>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>

    </div>

{% endblock %}




